.pagination {
  display: flex;
  justify-content: center;
  gap: 4px;
  margin: 16px 0;
  list-style: none;
  padding: 0;
  margin: 0;
}

.pagination li {
  border: 4px solid var(--primary-color);
  border-radius: 4px;
  cursor: pointer;
  min-width: 36px;
  height: 36px;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out,
    opacity 0.2s ease-in-out;

  clip-path: polygon(
    0px calc(100% - 8px),
    2px calc(100% - 8px),
    2px calc(100% - 4px),
    4px calc(100% - 4px),
    4px calc(100% - 2px),
    8px calc(100% - 2px),
    8px 100%,
    calc(100% - 8px) 100%,
    calc(100% - 8px) calc(100% - 2px),
    calc(100% - 4px) calc(100% - 2px),
    calc(100% - 4px) calc(100% - 4px),
    calc(100% - 2px) calc(100% - 4px),
    calc(100% - 2px) calc(100% - 8px),
    100% calc(100% - 8px),
    100% 8px,
    calc(100% - 2px) 8px,
    calc(100% - 2px) 4px,
    calc(100% - 4px) 4px,
    calc(100% - 4px) 2px,
    calc(100% - 8px) 2px,
    calc(100% - 8px) 0px,
    8px 0px,
    8px 2px,
    4px 2px,
    4px 4px,
    2px 4px,
    2px 8px,
    0px 8px
  );
}

.pagination li a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: var(--accent-2);
  font-size: 14px;
}

.pagination li:hover {
  background-color: var(--primary-color);
  opacity: 0.4;
  color: var(--accent-2);
  cursor: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 24 24"><path fill="%23FFF67E" stroke="%23042378" stroke-width="2.5" stroke-linejoin="round" d="M10 11V8.99c0-.88.59-1.64 1.44-1.86h.05A1.99 1.99 0 0 1 14 9.05V12v-2c0-.88.6-1.65 1.46-1.87h.05A1.98 1.98 0 0 1 18 10.06V13v-1.94a2 2 0 0 1 1.51-1.94h0A2 2 0 0 1 22 11.06V14c0 .6-.08 1.27-.21 1.97a7.96 7.96 0 0 1-7.55 6.48 54.98 54.98 0 0 1-4.48 0 7.96 7.96 0 0 1-7.55-6.48C2.08 15.27 2 14.59 2 14v-1.49c0-1.11.9-2.01 2.01-2.01h0a2 2 0 0 1 2.01 2.03l-.01.97v-10c0-1.1.9-2 2-2h0a2 2 0 0 1 2 2V11Z"></path></svg>'),
    auto;
}

.active {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.active a {
  color: var(--accent-2) !important;
  font-weight: 500;
}
