.logoutItem {
  display: flex;
  justify-content: center;
  align-items: center;
}

.userEmail {
  color: var(--accent-2);
  margin-right: 0.5rem;
  font-size: 14px;
  padding: 10px;
  border: 4px solid #2b1800;
  border-radius: 4px;
  background-color: #fff;
  clip-path: polygon(
    0px calc(100% - 8px),
    2px calc(100% - 8px),
    2px calc(100% - 4px),
    4px calc(100% - 4px),
    4px calc(100% - 2px),
    8px calc(100% - 2px),
    8px 100%,
    calc(100% - 8px) 100%,
    calc(100% - 8px) calc(100% - 2px),
    calc(100% - 4px) calc(100% - 2px),
    calc(100% - 4px) calc(100% - 4px),
    calc(100% - 2px) calc(100% - 4px),
    calc(100% - 2px) calc(100% - 8px),
    100% calc(100% - 8px),
    100% 8px,
    calc(100% - 2px) 8px,
    calc(100% - 2px) 4px,
    calc(100% - 4px) 4px,
    calc(100% - 4px) 2px,
    calc(100% - 8px) 2px,
    calc(100% - 8px) 0px,
    8px 0px,
    8px 2px,
    4px 2px,
    4px 4px,
    2px 4px,
    2px 8px,
    0px 8px
  );
}

.welcomeItem {
  display: flex;
  gap: 8px;
  align-items: center;
  padding: 12px 12px;
  border-radius: 8px;
  /* background-color: var(--secondary-color);
  box-shadow: inset 0 1px 0 #ffe5c4, 0 6px 0 rgba(59, 129, 131, 0.4); */
}

.avatar {
  border-radius: 50%;
}

.userWelcome {
  width: fit-content;
  color: var(--secondary-color);
  font-size: 12px;
  line-height: 1.2;
  text-shadow: 0px 1px 0px #000;
}
