.navigationItem {
  position: relative;
  display: inline-block;
  margin: 10px;
}

.navigationLink:hover {
  cursor: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 24 24"><path fill="%23FFF67E" stroke="%23042378" stroke-width="2.5" stroke-linejoin="round" d="M10 11V8.99c0-.88.59-1.64 1.44-1.86h.05A1.99 1.99 0 0 1 14 9.05V12v-2c0-.88.6-1.65 1.46-1.87h.05A1.98 1.98 0 0 1 18 10.06V13v-1.94a2 2 0 0 1 1.51-1.94h0A2 2 0 0 1 22 11.06V14c0 .6-.08 1.27-.21 1.97a7.96 7.96 0 0 1-7.55 6.48 54.98 54.98 0 0 1-4.48 0 7.96 7.96 0 0 1-7.55-6.48C2.08 15.27 2 14.59 2 14v-1.49c0-1.11.9-2.01 2.01-2.01h0a2 2 0 0 1 2.01 2.03l-.01.97v-10c0-1.1.9-2 2-2h0a2 2 0 0 1 2 2V11Z"></path></svg>'),
    auto !important;
}

.navigationLink {
  text-decoration: none;
  color: var(--primary-color) !important;
  font-family: var(--font-press-start);
  font-weight: bold;
  font-size: 14px !important;
  text-align: center;
  background-color: var(--secondary-color);
  display: block;
  position: relative;
  padding: 12px 20px;

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-shadow: 0px 1px 0px #000;
  filter: dropshadow(color=#000, offx=0px, offy=1px);

  -webkit-box-shadow: inset 0 1px 0 #ffe5c4, 0 10px 0 rgba(59, 129, 131, 0.4);
  -moz-box-shadow: inset 0 1px 0 #ffe5c4, 0 10px 0 rgba(59, 129, 131, 0.4);
  box-shadow: inset 0 1px 0 #ffe5c4, 0 6px 0 rgba(59, 129, 131, 0.4);

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.navigationItem:after {
  content: "";
  height: 100%;
  width: 100%;
  padding: 4px;
  position: absolute;
  bottom: -12px;
  left: -4px;
  z-index: -1;
  background-color: #2b1800;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.navigationLink:active {
  top: 10px;
  background-color: #f3d34a;

  -webkit-box-shadow: inset 0 1px 0 #ffe5c4, inset 0 -3px 0 #915100;
  -moz-box-shadow: inset 0 1px 0 #ffe5c4, inset 0 -3pxpx 0 #915100;
  box-shadow: inset 0 1px 0 #ffe5c4, inset 0 -3px 0 #915100;
}

.navigationItem:hover .navigationLink {
  color: var(--accent-1) !important;
}

.logoutItem {
  display: flex;
  justify-content: center;
  align-items: center;
}

.userEmail {
  color: var(--accent-2);
  margin-right: 0.5rem;
  font-size: 14px;
  padding: 10px;
  border: 4px solid #2b1800;
  border-radius: 4px;
  background-color: #fff;
  clip-path: polygon(
    0px calc(100% - 8px),
    2px calc(100% - 8px),
    2px calc(100% - 4px),
    4px calc(100% - 4px),
    4px calc(100% - 2px),
    8px calc(100% - 2px),
    8px 100%,
    calc(100% - 8px) 100%,
    calc(100% - 8px) calc(100% - 2px),
    calc(100% - 4px) calc(100% - 2px),
    calc(100% - 4px) calc(100% - 4px),
    calc(100% - 2px) calc(100% - 4px),
    calc(100% - 2px) calc(100% - 8px),
    100% calc(100% - 8px),
    100% 8px,
    calc(100% - 2px) 8px,
    calc(100% - 2px) 4px,
    calc(100% - 4px) 4px,
    calc(100% - 4px) 2px,
    calc(100% - 8px) 2px,
    calc(100% - 8px) 0px,
    8px 0px,
    8px 2px,
    4px 2px,
    4px 4px,
    2px 4px,
    2px 8px,
    0px 8px
  );
}
