.input {
  font-family: var(--font-press-start);
  flex: 1;
  max-width: 240px;
  padding: 10px 12px;
  font-size: 10px;
  border: 4px solid var(--primary-color);
  color: var(--accent-2);
  clip-path: polygon(
    0px calc(100% - 8px),
    2px calc(100% - 8px),
    2px calc(100% - 4px),
    4px calc(100% - 4px),
    4px calc(100% - 2px),
    8px calc(100% - 2px),
    8px 100%,
    calc(100% - 8px) 100%,
    calc(100% - 8px) calc(100% - 2px),
    calc(100% - 4px) calc(100% - 2px),
    calc(100% - 4px) calc(100% - 4px),
    calc(100% - 2px) calc(100% - 4px),
    calc(100% - 2px) calc(100% - 8px),
    100% calc(100% - 8px),
    100% 8px,
    calc(100% - 2px) 8px,
    calc(100% - 2px) 4px,
    calc(100% - 4px) 4px,
    calc(100% - 4px) 2px,
    calc(100% - 8px) 2px,
    calc(100% - 8px) 0px,
    8px 0px,
    8px 2px,
    4px 2px,
    4px 4px,
    2px 4px,
    2px 8px,
    0px 8px
  );
}

.input::placeholder {
  color: var(--accent-2);
  opacity: 0.6;
}

.input:hover {
  cursor: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 24 24"><path fill="%23FFF67E" stroke="%23042378" stroke-width="2.5" d="M15 9V4.5c0-.83-.67-1.5-1.5-1.5h-3C9.67 3 9 3.67 9 4.5V9H4.5C3.67 9 3 9.67 3 10.5v3c0 .83.67 1.5 1.5 1.5H9v4.5c0 .83.67 1.5 1.5 1.5h3c.83 0 1.5-.67 1.5-1.5V15h4.5c.83 0 1.5-.67 1.5-1.5v-3c0-.83-.67-1.5-1.5-1.5H15Z"></path></svg>'),
    auto;
  border-color: #e57f3d;
}

.input:focus-within {
  outline: none;
}
