.main {
  flex: 1;
}

.container {
  width: 90%;
  max-width: 1280px;
  margin: 0px auto;
  padding: 28px;
}

.title {
  font-size: 36px;
  font-weight: 700;
  color: var(--accent-2);
  margin-bottom: 60px;
  text-align: center;
}

.description {
  font-family: var(--font-space-mono);
  font-size: 18px;
  color: #444444;
  line-height: 28px;
  margin-bottom: 16px;
}
