.mainContent {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 32px;
}

.profileCard {
  max-width: 500px;
  width: 100%;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  padding: 32px;
  text-align: left;
}

.formTitle {
  font-size: 32px;
  font-weight: 700;
  color: var(--accent-2);
  margin-bottom: 8px;
  text-align: left;
}

.avatarWrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
}

.avatar {
  border-radius: 50%;
  object-fit: cover;
}

.profileInfo {
  font-size: 14px;
  color: var(--accent-2);
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
}

.usernameWrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px;
}
